<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="aee1fc14-a493-4bca-bb95-13554dbdb979" Publisher="CN=spertus" Version="1.0.0.0" />
  <Properties>
    <DisplayName>DatePickerSample</DisplayName>
    <PublisherDisplayName>spertus</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DatePickerSample.App">
      <VisualElements DisplayName="DatePickerSample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="DatePickerSample" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>